<script>
  $(window).load(function(){
    $('#demoModal').modal('show');
  });
</script>
<div class="modal fade" id='demoModal' tabindex="-1" role="dialog" aria-labelledby="demoModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="demoModalLabel">Private Demo</h4>
      </div>
      <div class="modal-body">
        
        <p>This is a (<b>private!</b>) demo version of this website. This modal
          will appear on every page to discourage overusing the site, etc.
          Contact Joshua Kotin or <a href="http://moacir.com/contact">Moacir P.
            de Sá Pereira</a> if you’d like to be told when it goes live.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Got it. Private demo.</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
