<div id="map" style="height: 600px;" class="col-md-8"></div>
<script>
  var map = L.map('map').setView([ 40.7308 , -73.9975 ], 15);
  {{#show_individual_entitys_features}}
    {{#circle}}
      marker = L.circleMarker({{{ latlng }}}).addTo(map)
      marker.bindPopup('{{ popup }}');
    {{/circle}}
    map.fitBounds(L.latLngBounds({{{ bounds }}}));
  {{/show_individual_entitys_features}}

  L.tileLayer('http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 18,
  }).addTo(map)
  {{#show_all_features}}
  map.addLayer(allFeatures);
  {{/show_all_features}}
</script>
