{{#static_js}}
  {{{ js_dump }}}
{{/static_js}}
{{^static_js}}
<script>
  // static_js_start
  {{#entity}}
    var {{slug}}Color = getRandomColor();
    var style = '.' + '{{slug}}';
    var {{slug}} = L.featureGroup([
      {{#address}}
        L.circleMarker([{{latitude}}, {{longitude}}], {
          color: {{slug}}Color
        }).bindPopup('<a href="/entities/{{slug_id}}"><h3>{{full_name}}</h3></a><p>{{street}}<br />{{city}}, {{state}}<br /></p><div class="btn-group btn-group-sm" role="group" aria-label="..."><button type="button" class="btn btn-default" onClick="map.removeLayer({{slug}});resetColor(style);"><span class="glyphicon glyphicon-remove"></span></button><button type="button" class="btn btn-default" onClick="{{slug}}.bringToFront()"><span class="glyphicon glyphicon-arrow-up"></span></button><button type="button" class="btn btn-default" onClick="{{slug}}.bringToBack()"><span class="glyphicon glyphicon-arrow-down"></span></button></div>'),
      {{/address}}
    ]);
  {{/entity}}
  var allFeatures = L.featureGroup([
    {{#entity}}
      {{slug}},
    {{/entity}}
  ]);
  // static_js_end
</script>
{{/static_js}}
