  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Mapping Postwar Poetry</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{{#selected_item}}about{{/selected_item}}"><a href="/about">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entities <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="{{#selected_item}}people{{/selected_item}}"><a href="/people">People</a></li>
              <li class="{{#selected_item}}institutions{{/selected_item}}"><a href="/institutions">Institutions</a></li>
              <li role="separator" class="divider"></li>
              <li class="{{#selected_item}}entities{{/selected_item}}"><a href="/entities">All Entities</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="{{#selected_item}}new_york{{/selected_item}}"><a href="/new_york">New York City</a></li>
              <li class="{{#selected_item}}bay_area{{/selected_item}}"><a href="/bay_area">Bay Area</a></li>
              <li class="{{#selected_item}}london{{/selected_item}}"><a href="/london">London</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tags <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="{{#selected_item}}tags/poets{{/selected_item}}"><a href="/tags/poets">Poets</a></li>
              <li class="{{#selected_item}}tags/novelists{{/selected_item}}"><a href="/tags/novelists">Novelists</a></li>
              <li class="{{#selected_item}}tags/musicians{{/selected_item}}"><a href="/tags/musicians">Musicians</a></li>
              <li role="separator" class="divider"></li>
              <li class="{{#selected_item}}tag{{/selected_item}}"><a href="#">Some Tag</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
