<h1>About this project…</h1>
<p class="lead">Here is the about...</p>
<p>This is a rewrite of an original Rails app into Sinatra. Boy oh boy does this work more cleanly.</p>

<p>This application is available on <a href="http://github.com/muziejus/tom-clark-address-book-sinatra">GitHub</a>.
