<div class="jumbotron">
  <div class="container">
    <h1>Mapping Postwar Poetry<br />
      <small>
        Tom Clark’s Address Book
      </small>
    </h1>
    <div aria_label='...' class='btn-toolbar' role='toolbar'>
      <div aria_label='...' class='btn-group' role='group'>
        <a class='btn btn-default' href="/people">People</a>
        <a class='btn btn-default disabled' href="/institutions">Institutions</a>
        <a class='btn btn-default disabled' href="/tags">Tags</a>
      </div>
      <div aria_label='...' class='btn-group' role='group'>
        <a class='btn btn-default disabled' href="/new_york">New York</a>
        <a class='btn btn-default disabled' href="/london">London</a>
        <a class='btn btn-default disabled' href="/bay_area">Bay Area</a>
      </div>
    </div>
  </div>
</div>
