<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">&nbsp;</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Mapping Postwar Poetry</h1>
        <p class="lead">An address book from the 1970s, belonging to American poet and editor <a href="https://en.wikipedia.org/wiki/Tom_Clark_%28poet%29"target="_blank">Tom Clark</a>, ended up in a special collection at a university library. What can we learn about late 20th century poetry networks looking at this document?</p>
        <p class="lead">
          <a href="/people" class="btn btn-lg btn-default">Show me the people</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">
              Mapping Postwar Poetry
            </span>
              &copy; 2015 by Joshua Kotin and
            <a xmlns:cc="http://creativecommons.org/ns#" href="http://moacir.com" property="cc:attributionName" rel="cc:attributionURL">
              Moacir P. de Sá Pereira
            </a>
            is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"> Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
